ALTER TABLE public.quote_items ADD COLUMN IF NOT EXISTS product_id uuid; ALTER TABLE public.quote_items ADD COLUMN IF NOT EXISTS product_name text; ALTER TABLE public.quote_items ADD COLUMN IF NOT EXISTS image_url text; ALTER TABLE public.quote_items ADD COLUMN IF NOT EXISTS product_image text;
